#header,
#dashboard .header {
  background-color: var(--clr-primary);
  color: #fff;
  box-shadow: none;
}

#header .logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

#header .logo img {
  max-height: 35px;
  margin-right: 14px;
}

#header .nav-link,
#dashboard .header .nav-link {
  color: #fff;
  font-size: 14px;
  line-height: 9px;
  letter-spacing: 0.4px;
  margin-left: 40px;
}

#header .active,
#dashboard .header .active {
  font-weight: 600;
}
