/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto&display=swap');

/* variables */
:root {
  /* colors */
  --clr-primary: #42f56c;
  --bg-light: #cffcd9;
  --text-dark: #474747;
}
/* resets */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
