/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* variables */
:root {
  /* colors */
  --clr-primary: hsl(35, 85%, 50%);
  --bg-light: hsl(35, 85%, 95%);
  --text-dark: #474747;
}
/* resets */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--text-dark);
  user-select: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* components */
.form {
  width: min(100%, 800px);
  margin: 0 auto;
  padding: 40px 20px;
  margin: 10px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  border-radius: 10px;
}
